<%= form_with model: @task do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @task.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :detail %><br>
    <%= form.text_area :detail %><br>
    <% @task.errors.full_messages_for(:detail).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
  <ul class="errors container">
    <% @task.errors.full_messages().each do |message| %>
      <li>Error: <%= message %></li>
    <% end %>
  </ul>
<% end %>
